*{
    box-sizing: border-box;
}
body{
margin: 0%;
background-color: rgb(14, 13, 13);
border: 0%;
}

.main{
    margin-left: 390px;
    margin-right: 380px;
    
}
header{
    background-color: rgba(33, 32, 32, 0.733);
    height: 60px;
    display: flex;
}
.Home a{
    color: aliceblue;
    text-align: center;
    margin-left: 10px;
    margin-top: 30%;
    position: relative;
    bottom:-18px;
    padding-left: 20px;
    padding-right: 40px;
    cursor: pointer;
    text-decoration:none;
    }
.About{
    color: aliceblue;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    
}
.About:hover{
color:rgb(237, 188, 13);


}
.Home a:hover{
    color: rgb(237, 188, 13);
}
/* desing the logo*/
.logo{
    margin-left: 20px;
    margin-top: 7px;
}
.logo img{
    cursor: pointer;
    width: 100px;
}

/* search box desing*/
.search_box input{
    padding-left: 10px;
    color: rgb(237, 188, 13);
    width: 100%;
    height: 35px;
    background-color: rgba(44, 42, 42, 0.922);
border: none;
outline: none;
}
.search_box{
    position:absolute;
    right: 400px;
    width: 300px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    }
.search_box img{
    width: 30px;
    
    background-color: rgba(44, 42, 42, 0.922);
color: rgb(255, 0, 0);
padding-top: 2px;
padding-bottom: 2px;
padding-left: 2px;
padding-right: 2px;
cursor: pointer;
}

/* desinging the other row*/
.row1{
    background-color:rgb(237, 188, 13);
    height: 60px;
    margin-top: 60px;
    margin-bottom: none;
}
.row2 img{
    width: 15%;
    margin-left: 20px;
    position: relative;
    bottom: 45px;
    }
.row2{
    
    margin-bottom: -120px;
    margin-right: none;
    
}
.row3 img{
   width: 30%;
   float: right; 
   transform: scalex(-1);
   position: relative;
   bottom: 70px;
   opacity: 0.2;
  }
.row3{
    height: 60px;
    overflow: hidden;
    
}

/* desing the content of anime*/

.content{
    display: flex;
}

/* desing the photo*/
.photo img{
    width: 330px;
    padding-left: 20px;
    padding-top: 20px;
}
/*desimg the description*/

.description{
    padding-left: 15px; 
    width: 500px;
    font-size: small;
}

.description h4{
color: rgb(237, 188, 13);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description a{
    text-decoration: none;
    color: red;
    position: relative;
    bottom: 12px;
    font-size: small;
}

.type {
    display: flex;
    position: relative;
    bottom: 15px;
    font-size: small;
  
}
.type a{
    position: relative;
    bottom: -15px;
    left: 5px;
    color: aliceblue; 
    font-size: small;
}
.type a:hover{
    color: rgb(237, 188, 13);
    transition: 0.5s;
}
/*  desing the Plot Summary */
.Plot_Summary{
   margin-top: -39px;
   font-size: 14px;
}
.Plot_Summary p{
    color: rgb(237, 188, 13);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}
/* Desing the gener*/
.genre{
    display: flex;
}
.genre a{
  color: aliceblue;
  position: relative;
  left: 8px;
  padding-left: 3px;
  
}
.genre a:hover{
    color:  rgb(237, 188, 13);
    transition: 0.5s;
    
}
.genre p{
    color:  rgb(5, 172, 5);
    position: relative;
    bottom: 24px;
}
/* desimg the stauts*/
.status{
    display: flex;
    color: rgb(5, 172, 5);
    margin-top: -30px;
}
.status span{
    color: aliceblue;
    padding-left: 10px;
}
/*desinging the other name*/
.other-name{
    display: flex;
}
/* Desing the other name*/
.Other {
display: flex;   
}
.Other p{
    padding-left: 10px;
    margin: -1px;
}

/*Desing the episodes part*/
.episodes p{
    color:  rgb(237, 188, 13);
    padding-left: 20px;
    font-size: small;
}
.episodes_numbers {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px,6fr));
    row-gap: 20px;
    column-gap: 10px;
    background-color:rgb(0, 0, 0) ;
    
    
    
}
.itams a{
    color: rgb(255, 252, 252);
    background-color: rgb(50, 48, 48);
    text-decoration: none;
    font-size: 15PX;
    border: none;
    transition: 1.5s;
    padding: 5px;
    }
.itams a:hover{
    color: rgb(7, 7, 7);
    background-color: rgb(237, 188, 13);
    cursor: pointer;
    
}
.spam :hover{
    color: black;

}

/*footer desinfng*/
footer{
    margin-top: 15%;
    height: 90px;
    margin-bottom: 100px;
    
}
.last{
    display: flex;
    float: right;
    padding-top: 10px;
    margin-right: 15px;
    padding-bottom: 20px;
  
    
}
.last img{
    padding-right: 10px;
    padding-top: -10px;
    width: 60px;
    cursor: pointer;
    
}
.last p{
    color: rgb(135, 141, 141);
    
}

    
